@model ContactModel
@{
    ViewData["Title"] = "New Contact";
}

<div class="text-center">
    <h1 class="display-6">Criar Novo Contacto</h1>

    <form class="text-start" style="width:40%; margin-left:30%" asp-controller="Contact" asp-action="Create" method="post">
        <div class="mb-3">
            <label for="InputName" class="form-label">Nome</label>
            <input asp-for="Name" type="text" class="form-control" id="InputName" placeholder="Digite o nome">
        </div>
        <div class="mb-3">
            <label for="InputContact" class="form-label">Contacto</label>
            <input asp-for="Phone" type="tel" class="form-control" id="InputContact" placeholder="Digite o número de telefone">
        </div>
        <div class="mb-3">
            <label for="InputEmail" class="form-label">E-mail</label>
            <input asp-for="Email" type="email" class="form-control" id="InputEmail" placeholder="Digite o e-mail">
        </div>
        <input class="btn btn-outline-primary" style="width:100%" type="submit" value="Criar" /> 
        <br /><br />
        <a class="btn btn-outline-secondary d-block" asp-controller="Contact" asp-action="Index">Voltar</a>
    </form>
</div>