@model ContactModel
@{
    ViewData["Title"] = "Details Contact";
}

<div style="width: 40%; margin-left:30%"> 
    <h3 class="text-center">Detalhe do Contacto</h3>

    <div class="card">
        <div class="card-body">
            <p>ID : <strong> </strong></p>
            <p>Nome : <strong> </strong></p>
            <p>Telefone : <strong> </strong></p>
            <p>E-mail : <strong> </strong></p>
        </div>
        <a class="btn btn-outline-secondary d-block" asp-controller="Contact" asp-action="Index">Voltar</a>
    </div>
</div>